[submodule "batch"]
	path = batch
	url = https://github.com/tjakoen/batch.git
[submodule "grain"]
	path = grain
	url = https://github.com/tjakoen/grain.git
[submodule "mill"]
	path = mill
	url = https://github.com/tjakoen/mill.git
[submodule "proof"]
	path = proof
	url = https://github.com/tjakoen/proof.git
